html, body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto; }

.only-mobile {
  display: none; }

@media screen and (max-width: 960px) {
  .only-mobile {
    display: block; } }

.only-mobile-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-strict {
    display: block !important; } }

.only-mobile-inline {
  display: none; }

@media screen and (max-width: 960px) {
  .only-mobile-inline {
    display: inline-block; } }

.only-mobile-inline-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-inline-strict {
    display: inline-block !important; } }

.only-mobile-inline-flex-strict {
  display: none !important; }

@media screen and (max-width: 960px) {
  .only-mobile-inline-flex-strict {
    display: inline-flex !important; } }

.only-desktop {
  display: block; }

@media screen and (max-width: 960px) {
  .only-desktop {
    display: none; } }

.only-desktop-strict {
  display: block !important; }

@media screen and (max-width: 960px) {
  .only-desktop-strict {
    display: none !important; } }

@media screen and (max-width: 960px) {
  .flex-grow-mobile {
    flex-grow: 1;
    flex-flow: 1; } }

.App > .app-content {
  margin-top: 62px; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.display-none {
  display: none; }

.display-none-strict {
  display: none !important; }

.text-success {
  color: #0f7b0c; }

.text-warning {
  color: #f44336; }

.text-info {
  color: #2196f3; }

.flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.inline-flex {
  display: inline-flex; }

.flex-align-center {
  align-items: center; }

.flex-justify-center {
  justify-content: center; }

.flex-center {
  align-items: center;
  justify-content: center; }

.flex-justify-end {
  justify-content: flex-end; }

.flex-justify-start {
  justify-content: flex-start; }

.flex-justify-space-between {
  justify-content: space-between; }

.flex-align-end {
  align-items: flex-end; }

.flex-align-start {
  align-items: flex-start; }

.dialog {
  background-color: #ffffff;
  position: absolute;
  outline: none;
  padding: 21px;
  max-width: 500px;
  border-radius: 11px;
  font-family: "Roboto", sans-serif;
  z-index: 999;
  animation: zoomIn 0.23s ease-in-out; }
  @media screen and (max-width: 960px) {
    .dialog {
      max-width: 80%; } }

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000007d;
  display: flex;
  align-items: center;
  justify-content: center; }

.dialog-msg > ._ttl {
  font-size: 20px;
  font-weight: 400;
  color: #000000; }
  @media screen and (max-width: 960px) {
    .dialog-msg > ._ttl {
      font-size: 18px;
      font-weight: 500; } }

.dialog-msg > ._desc {
  margin-top: 9px;
  color: #444444; }
  @media screen and (max-width: 960px) {
    .dialog-msg > ._desc {
      font-size: 13px; } }

.dialog-msg > ._actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 19px; }
  .dialog-msg > ._actions > button {
    margin-left: 5px; }

.error-content {
  color: #f44336;
  font-size: 14px;
  margin: 3px 0px;
  font-weight: 500; }

.link {
  color: #3b5998;
  cursor: pointer; }
  .link.disabled {
    pointer-events: none; }

@keyframes pageSlide {
  from {
    transform: translateY(11px); }
  to {
    transform: translateY(0px); } }

@keyframes pageSlideToRight {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

@keyframes pageSlideToLeft {
  from {
    transform: translateX(100%); }
  to {
    transform: translateX(0); } }

@keyframes placeHolderShimmer {
  from {
    background-position: -200px 0; }
  to {
    background-position: 200px 0; } }

@keyframes zoomIn {
  from {
    transform: scale(0.5, 0.5); }
  to {
    transform: scale(1, 1); } }

@keyframes flipX {
  from {
    transform: rotateY(-90deg); }
  to {
    transform: rotateY(0deg); } }

.btn {
  background-color: #d2e3fc;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  max-height: 34px;
  min-height: 34px;
  height: 34px;
  padding: 0 21px;
  border-radius: 50em;
  cursor: pointer;
  color: #3f618ee8;
  font-weight: 500;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  transition: 0.0723s all ease-in-out;
  text-decoration: none;
  font-size: 14px; }
  .btn:hover {
    background-color: rgba(210, 227, 252, 0.4); }
  .btn.is-light {
    background-color: #ffffff;
    color: #777777; }
    .btn.is-light:hover {
      background-color: #f9f9f9; }
  .btn.is-outline {
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #d2e3fc; }
  .btn.disabled {
    pointer-events: none; }
  .btn.transparent:not(.no-transparent) {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none; }
  .btn:active {
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.15); }
  .btn > .btn-icon-left {
    margin-right: 5px;
    font-size: 18px; }

.input {
  outline: none;
  box-shadow: 0px 0px 0px 1px #d9d9d9;
  border: none;
  height: 37px;
  border-radius: 5px;
  transition: 0.134s all ease-in;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding: 0 11px;
  width: calc(100% - 22px); }
  .input:focus {
    box-shadow: 0px 0px 0px 2px #1a73e8; }
  .input::placeholder {
    color: #999999; }

.form-item {
  margin-bottom: 33px; }
  .form-item > ._label {
    font-size: 13px;
    color: #777777;
    margin-bottom: 5px; }
  .form-item > ._field-2 {
    margin-top: 5px; }
  .form-item label {
    color: #666666; }
  .form-item > ._error {
    color: #f44336;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500; }
